[submodule "Digital-Business-Card"]
	path = Digital-Business-Card
	url = https://github.com/BhumitRohilla/Digital-Business-Card.git
[submodule "airbnb-clone"]
	path = airbnb-clone
	url = https://github.com/BhumitRohilla/airbnb-clone.git
